.form-group > .error-message {
	display: none;
}

.form-group.has-error > .error-message {
	display: block;
}

.alert-hidden {
	display: none;
}

.alert-box {
	float: right;
	padding-right: 20px;
}


/* based off bootstrap media query */
/* let's give bigger screens more gray, why not */
@media (min-width: 992px) {
	body {
		background-color: #EEE;
	}
}

